components/ui/*
public/*
gen/**/*.ts
tailwind.config.ts
**/*.js
**/*.mjs
**/*.md
**/*.yml
**/*.yaml
**/*.json
**/*.css
e2e/**
vitest.config.ts
vitest.setup.ts
playwright.config.ts
**/*.test.ts
**/*.test.tsx
